<html>
<head>
    {% block meta %}
        <meta charset="utf-8">
        <meta name="viewport" content="height=device-height,width=device-width,initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
        <title>title</title>
    {% endblock %}

    {% block stylesheets %}
        {{ head|raw }}
    {% endblock %}

</head>
<body>
{% block body %}
    {% block header %}
        {% include "layout/header.html.twig" %}
    {% endblock %}

    {% block slider %}
        {% include "layout/slider.html.twig" %}
    {% endblock %}

    {% block share %}
        {% include "layout/share.html.twig" %}
    {% endblock %}

    {% block transform %}
        {% include "layout/transform.html.twig" %}
    {% endblock %}

    {% block footer %}
        {% include "layout/footer.html.twig" %}
    {% endblock %}
{% endblock %}

{% block scripts %}

{% endblock %}
</body>
</html>
