{% extends 'generic.html.twig' %}

{% block content %}
    <div class="post-container">
        <div class="row column">
            <div class="row">
                <div class="large-5 columns post-content">
                    <div class="row column post">
                        <div class="post-text">
                            <h4>Stunning Lakeside Interior (subtitle)</h4>
                            <h2>Beautiful Lakehouse Home</h2>
                            <img src="/wp-content/themes/Noel/web/imgs/portfolio-post-lines.png">
                            <p>Cat is love, cat is life roll on the floor purring your whiskers off but flee in terror at cucumber discovered on floor for human is washing you why halp oh the horror flee scratch hiss bite, or thinking longingly about tuna brine so eat.</p>
                        </div>
                        <div class="challenge-text">
                            <h3>The Challenge</h3>
                            <img src="/wp-content/themes/Noel/web/imgs/services-lines.png">
                            <p>Cat is love, cat is life roll on the floor purring your whiskers off but flee in terror at cucumber discovered on floor for human is washing you why halp oh the horror.</p>
                        </div>
                        <div class="results-text">
                            <h3>The Results</h3>
                            <img src="/wp-content/themes/Noel/web/imgs/services-lines.png">
                            <p>Cat is love, cat is life roll on the floor purring your whiskers off but flee in terror at cucumber discovered on floor for human is washing you why halp oh the horror.</p>
                        </div>
                        <div class="buttons">
                            <h6><a href="">< Previous</a>   /   <a href="">Next ></a></h6>
                        </div>
                    </div>
                </div>
                <div class="large-7 columns images">
                    <div class="row column top">
                        <a><img src="https://pixabay.com/static/uploads/photo/2015/12/28/14/53/nature-1111475_960_720.jpg" class="fade"></a>
                    </div>
                    <div class="row column middle">
                        <div class="large-6 columns middle-left">
                            <a><img src="http://www.npg.si.edu/exhibit/feature/images/schoeller_full.jpg" class="fade"></a>
                        </div>
                        <div class="large-6 columns middle-right">
                            <div class="row column middle-right-top">
                                <a><img src="https://pixabay.com/static/uploads/photo/2015/12/28/14/53/nature-1111475_960_720.jpg" class="fade"></a>
                            </div>
                            <div class="row column middle-right-bottom">
                                <a><img src="https://pixabay.com/static/uploads/photo/2015/12/28/14/53/nature-1111475_960_720.jpg" class="fade"></a>
                            </div>
                        </div>
                    </div>
                    <div class="row column bottom">
                        <div class="large-4 columns bottom-left">
                            <a><img src="https://pixabay.com/static/uploads/photo/2015/12/28/14/53/nature-1111475_960_720.jpg" class="fade"></a>
                        </div>
                        <div class="large-4 columns bottom-middle">
                            <a><img src="https://pixabay.com/static/uploads/photo/2015/12/28/14/53/nature-1111475_960_720.jpg" class="fade"></a>
                        </div>
                        <div class="large-4 columns bottom-right">
                            <a><img src="https://pixabay.com/static/uploads/photo/2015/12/28/14/53/nature-1111475_960_720.jpg" class="fade"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
