<div class="footer-container">
    <div class="footer">
        <div class="row">
            <div class="small-12 columns footer-info">
                <p>&copy; 2016 Michelle Noel Interiors LLC. 1234 Evergreen Terrace Bldg. #2 Unit C, Yakima, WA</p>
                <p>98003. All Rights Reserved. <a href="">Seattle Web Design</a> by <a href="">Sayenko Design</a></p>
            </div>
        </div>
    </div>
</div>
