<div class="row column">
    <div class="footer-container">
        <div class="footer">
            <div class="row">
                <div class="small-12 columns footer-info">
                    {{ SP.ACF.get_field("copyright", "option") }}
                </div>
            </div>
        </div>
    </div>
</div>
