<div class="headerContainer">
    <div class="headerIcons">
        <i class="fa fa-instagram" aria-hidden="true"></i>
        <i class="fa fa-pinterest-p" aria-hidden="true"></i>
        <i class="fa fa-facebook" aria-hidden="true"></i>
        <i class="fa fa-google" aria-hidden="true"></i>
    </div>

    <div class="headerPhone">
        <h4>t. 509. 952. 3906.</h4>
    </div>
</div>
