<div class="headerContainer">
    <div class="headerIcons">
        <a href=""><i class="fa fa-instagram fa-lg circle-icon" aria-hidden="true"></i></a>
        <a href=""><i class="fa fa-pinterest-p fa-lg circle-icon" aria-hidden="true"></i></a>
        <a href=""><i class="fa fa-facebook fa-lg circle-icon" aria-hidden="true"></i></a>
        <a href=""><i class="fa fa-google fa-lg circle-icon" aria-hidden="true"></i></a>
    </div>
    <div class="headerPhone">
        <h4>t. 509. 952. 3906.</h4>
    </div>
</div>
