<div class="row">
    <div class="header-container">
        <div class="header-icons">
            <a href=""><i class="fa fa-instagram fa-lg circle-icon" aria-hidden="true"></i></a>
            <a href=""><i class="fa fa-pinterest-p fa-lg circle-icon" aria-hidden="true"></i></a>
            <a href=""><i class="fa fa-facebook fa-lg circle-icon" aria-hidden="true"></i></a>
            <a href=""><i class="fa fa-google fa-lg circle-icon" aria-hidden="true"></i></a>
        </div>
        <div class="header-phone">
            <p>t. 509. 952. 3906.<p>
        </div>
    </div>
</div>
