<div class="row">
    <div class="header-container">
        <div class="header-icons">
            <a href=""><div class="ig-head"></div></a>
            <a href=""><div class="pin-head"></div></a>
            <a href=""><div class="fb-head"></div></a>
            <a href=""><div class="goog-head"></div></a>
        </div>
        <div class="header-phone">
            <p>t. 509. 952. 3906.<p>
        </div>
    </div>
</div>
