<div class="img-slider">
    <div class="slide">
        <img src="/wp-content/themes/Noel/web/imgs/slider-img.png" class="img">
        <div class="img-text">
            <h1>ELEGANT STYLE FOR HIGH END RESIDENCES</h1>
            <p>Your Style. Uniquely Designed. Beautifully Appointed.</p>
            <img src="/wp-content/themes/Noel/web/imgs/slider-lines.png" class="text-lines">
        </div>
    </div>
    <div><img src="http://www.beautycolorcode.com/c9f2ff-2880x1800.png" class="img">
    </div>
    <div><img src="http://www.beautycolorcode.com/c9f2ff-2880x1800.png" class="img">
    </div>
</div>
