<div class="imgslider">
    <div><img src="http://marshall.org/wp-content/themes/marshall/img/featured-space-policy.jpg" class="img">
    </div>
    <div><img src="http://marshall.org/wp-content/themes/marshall/img/featured-space-policy.jpg" class="img">
    </div>
    <div><img src="http://marshall.org/wp-content/themes/marshall/img/featured-space-policy.jpg" class="img">
    </div>
</div>
