<div class="imgslider">
    <div><img src="http://indianapublicmedia.org/arts/files/2012/04/sample-gates-9-940x626.jpg" class="img"></div>
    <div><img src="http://indianapublicmedia.org/arts/files/2012/04/sample-gates-9-940x626.jpg" class="img"></div>
    <div><img src="http://indianapublicmedia.org/arts/files/2012/04/sample-gates-9-940x626.jpg" class="img"></div>`
</div>
