<div class="row">
    <div class="img-slider">
        <div class="slide">
            <img src="{{ SP.WordPress.templateURI() }}/web/imgs/slider-img.png" class="img">
            <div class="img-text">
                <h1>ELEGANT STYLE FOR HIGH END RESIDENCES</h1>
                <p>Your Style. Uniquely Designed. Beautifully Appointed.</p>
                <img src="{{ SP.WordPress.templateURI() }}/web/imgs/slider-lines.png" class="text-lines">
            </div>
        </div>
        <div class="slide">
            <img src="http://www.beautycolorcode.com/c9f2ff-2880x1800.png" class="img">
            <div class="img-text">
                <h1>ELEGANT STYLE FOR HIGH END RESIDENCES</h1>
                <p>Your Style. Uniquely Designed. Beautifully Appointed.</p>
                <img src="{{ SP.WordPress.templateURI() }}/web/imgs/slider-lines.png" class="text-lines">
            </div>
        </div>
        <div class="slide">
            <img src="http://www.beautycolorcode.com/c9f2ff-2880x1800.png" class="img">
            <div class="img-text">
                <h1>ELEGANT STYLE FOR HIGH END RESIDENCES</h1>
                <p>Your Style. Uniquely Designed. Beautifully Appointed.</p>
                <img src="{{ SP.WordPress.templateURI() }}/Noel/web/imgs/slider-lines.png" class="text-lines">
            </div>
        </div>
    </div>
</div>
