<div class="img-slider">
        <div class="slide"><img src="http://marshall.org/wp-content/themes/marshall/img/featured-space-policy.jpg" class="img">
        <div class="img-text">
            <h1>ELEGANT STYLE FOR HIGH END RESIDENCES</h1>
            <p>Your Style. Uniquely Designed. Beatifully Appointed.</p>
            <img src="/wp-content/themes/Noel/web/imgs/slider-top-line.png" class="text-lines">
            <img src="/wp-content/themes/Noel/web/imgs/slider-bottom-line.png" class="text-lines">
        </div>
    </div>
    <div><img src="http://marshall.org/wp-content/themes/marshall/img/featured-space-policy.jpg" class="img">
    </div>
    <div><img src="http://marshall.org/wp-content/themes/marshall/img/featured-space-policy.jpg" class="img">
    </div>
</div>
