<div class="nav">
    <div class="col-left">
        <h4>Style Services Portfolio</h4>
    </div>
    <div class="col-mid">
        <h4>Logo</h4>
    </div>
    <div class="col-left">
        <h4>Consultation About Contact</h4>
    </div>
</div>
