<div class="nav">
    <div class="col-left">
        <h4><a>Style</a>
            <a>Services</a> <a>Portfolio</a></h4>
    </div>
    <div class="col-mid">
        <img src="/wp-content/themes/Noel/web/imgs/logo.png">
    </div>
    <div class="col-left">
        <h4><a>Consultation</a>
            <a>About</a>
            <a>Contact</a></h4>
    </div>
</div>
