<div class="nav">
    <div class="row">
        <div class="column-left">
            <h4>Style Services Portfolio</h4>
        </div>
        <div class="column-mid">
            <h4>Logo</h4>
        </div>
        <div class="column-right">
            <h4>Consultation About Contact</h4>
        </div>
    </div>
</div>
