<div class="nav">
    <div class="col-left">
        <h4><a href="" class="nav-link">Style</a>
            <a href="" class="nav-link">Services</a>
            <a href="" class="nav-link">Portfolio</a></h4>
    </div>
    <div class="col-mid">
        <a><img src="/wp-content/themes/Noel/web/imgs/logo2.png"></a>
    </div>
    <div class="col-right">
        <h4><a href="" class="nav-link">Consultation</a>
            <a href="" class="nav-link">About</a>
            <a href="" class="nav-link">Contact</a></h4>
    </div>
</div>
