<div class="row column">
    <div class="share-transform-container">
        <div class="row column">
            <div class="row share-transform-content">
                <div class="medium-6 columns share">
                    <h1>Share this page!</h1>
                    <img src="{{ SP.WordPress.templateURI() }}/web/imgs/footer-lines.png">
                    <br><br>
                    <a href=""><div class="ig-share"></div></a>
                    <a href=""><div class="pin-share"></div></a>
                    <a href=""><div class="fb-share"></div></a>
                    <a href=""><div class="goog-share"></div></a>
                </div>
                <div class="medium-6 columns transform">
                    <h1>Ready to Transform Your Home?</h1>
                    <img src="{{ SP.WordPress.templateURI() }}/web/imgs/footer-lines.png">
                    <div id="quote-form">
                        {{ SP.WordPress.getForm(SP.ACF.get_field('footer_form_id', 'option'), false, false, false, null, true) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
