<div class="row column">
    <div class="share-transform-container">
        <div class="row column">
            <div class="row share-transform-content">
                <div class="medium-6 columns share">
                    <h1>Share this page!</h1>
                    <div class="sharethis">
                        <span class='st_instagram_custom' displayText='Instagram'></span>
                        <span class='st_pinterest_custom' displayText='Pinterest'></span>
                        <span class='st_facebook_custom' displayText='Facebook'></span>
                        <span class='st_googleplus_custom' displayText='Google +'></span>
                    </div>
                </div>
                <div class="medium-6 columns transform">
                    <h1>Ready to Transform Your Home?</h1>
                    <div id="quote-form">
                        {{ SP.WordPress.getForm(SP.ACF.get_field('footer_form_id', 'option'), false, false, false, null, true) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
