<div class="share">
    <h3>Share this page!</h3>

    <a href=""><i class="fa fa-instagram fa-lg circle-icon" aria-hidden="true"></i></a>
    <a href=""><i class="fa fa-pinterest-p fa-lg circle-icon" aria-hidden="true"></i></a>
    <a href=""><i class="fa fa-facebook fa-lg circle-icon" aria-hidden="true"></i></a>
    <a href=""><i class="fa fa-google fa-lg circle-icon" aria-hidden="true"></i></a>
</div>
