<html>
    <head>
        <link rel="stylesheet" type="text/css" href="../../src/slick/slick.css">
        <link rel="stylesheet" type="text/css" href="../../src/slick/slick-theme.css">
    </head>
    <body>
        <div class="slider">
            <div>content</div>
            <div>content</div>
            <div>content</div>
        </div>

        <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
        <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
        <script type="text/javascript" src="../../src/slick/slick.min.js"></script>

        <script type="text/javascript">
            $(document).ready(function(){
                $('.slider').slick({
                    setting-name: setting-value
                });
            });
        </script>

    </body>
</html>
