{% extends 'base.html.twig' %}

{% block content %}

    <div class="three-column content">
        <div class="row column">
            <div class="large-4 columns">
                <h1>Hey</h1>
            </div>
            <div class="large-4 columns">
                <h1>how are</h1>
            </div>
            <div class="large-4 columns">
                <h1>you?</h1>
            </div>
        </div>
    </div>

{% endblock %}
