@import "settings";

html {
    margin-left: 112px;
    margin-right: 112px;
    padding-bottom: 112px;
}

//Header
.headerContainer {
    display: inline-block;
    width: 100%;
}

.headerIcons {
    width: 50%;
    text-align: left;
    display: inline-block;
}

.headerPhone {
    width: 50%;
    text-align: right;
    display: inline-block;
    float: right;
}

//Nav
.nav {
    border-top: 1px solid $primaryPink;
    border-bottom: 1px solid $primaryPink;
    text-align: center;
}

//Slider
.imgslider {
    text-align: center;
    height: 500px;
    background-color: #FEFAFE;
    margin-top: 38px;
    margin-bottom: 15px;

    .img {
        height: 100%;
        width: 100%;
    }
    .slick-prev:before, .slick-next:before {
        color: red;
    }
}

//Body Content
.contentContainer {
    display: table;
    border-top: 1px solid $primaryPink;
    border-left: 1px solid $primaryPink;
    border-right: 1px solid $primaryPink;
    height: 295px;
    width: 100%;
}

.share {
    display: table-cell;
    width: 50%;
    text-align: center;
    vertical-align: middle;
    border-right: 1px solid $primaryPink;
}

.transform {
    display: table-cell;
    width: 50%;
    text-align: center;
    vertical-align: middle;
}

.transformButton {
    background-color: $anchorColor;
    color: $white;
    padding: 10px;
}

//Footer
.footer {
    border: 1px solid $primaryPink;
    text-align: center;
}
