@import "settings";

.content {
    margin-top: rem-calc(24px);
    margin-bottom: map-get($grid-column-gutter, medium);
}

//menu
.admin-bar .mobile-navi .sticky {
    margin-top: 0 !important;
    @include breakpoint(600px) {
        margin-top: 46px !important;
    }
    @include breakpoint(782px) {
        margin-top: 32px !important;
    }
}
.mobile-navi {
    .sticky {
        width: 100%;
    }
    .title-bar {
        background-color: $white;
        .top-bar {
            .top-bar-right, .top-bar-left {
                margin-top: rem-calc(6px);
            }
        }
    }
    .fa, .icon {
        font-size: rem-calc(40px);
    }
    #mobile-menu {
        background-color: #F1F1F1;
        text-align: center;
        .is-accordion-submenu-parent > a {
            padding-left: 1rem + rem-calc(22px);
        }
        .is-accordion-submenu-parent > a::after, .is-accordion-submenu-parent[aria-expanded="true"] > a::after  {
            content: "+";
            border: none;
            position: relative;
            top: 1px;
            display: inline-block;
            padding-left: 20px;
            margin: 0;
            transform: none;
        }
        .is-accordion-submenu-parent[aria-expanded="true"] > a::after {
            content: "-";
            margin-top: -2px;
        }
        a {
            font-size: rem-calc(14px);
        }
        .vertical.nested {
            margin: 0;
            background-color: #e6e6e6;
        }
    }
    @include breakpoint(large) {
        display: none;
    }
}
.large-navi {
    display: none;
    @include breakpoint(large) {
        display: block;
    }
}
.desktop-menu {
    height: rem-calc(62px);
    .menu-desktop-container {
        border-top: rem-calc(1px) solid $primaryPink;
        border-bottom: rem-calc(1px) solid $primaryPink;
    }
    .menu {
        text-transform: uppercase;
        a {
            color: $primaryGrey;
            padding: 1rem rem-calc(30px);
            &:hover {
                color: $anchorColor;
                text-decoration: underline;
            }
        }
    }
    .dropdown.menu > li.is-dropdown-submenu-parent > a::after {
        content: "+";
        border: none;
        position: relative;
        top: 1px;
        display: inline-block;
        padding-left: 12px;
    }
    .dropdown.menu > li.is-dropdown-submenu-parent.is-active > a::after {
        content: "-";
    }
    .submenu {
        white-space: nowrap;
        a {
            padding: rem-calc(11px) rem-calc(20px);
            font-size: rem-calc(13px);
            text-transform: none;
        }
    }
    .is-dropdown-submenu {
        text-align: left;
        min-width: 100%;
        background-color: #F1F1F1;
        border: none;
        padding: rem-calc(12px) 0;
        z-index: 1000;
    }
    .dropdown.menu > li.opens-right > .is-dropdown-submenu {
        left: 50%;
        transform: translateX(-50%);
    }
    .homepage {
        position: relative;
        width: rem-calc(252px) + rem-calc(20px);
        a {
            position: absolute;
            top:50%;
            transform: translateY(-50%);
            font-size: 0;
            background-image: url('../imgs/logo.png');
            background-position: center center;
            background-repeat: no-repeat;
            background-color: $white;
            width: rem-calc(252px) + rem-calc(20px);
            height: rem-calc(82px);
        }
    }
}


.header-container {
    width: 100%;
    margin: rem-calc(15px) 0;
}

.header-icons {
    width: 50%;
    text-align: left;
    display: inline-block;
    .ig-head {
        margin-right: 0.4rem;
        display: inline-block;
        width: 1.875rem;
        height: 1.875rem;
        background-image: url('../imgs/instagram-head.png');
        background-repeat: no-repeat;
    }
    .pin-head {
        margin-right: 0.4rem;
        display: inline-block;
        width: 1.875rem;
        height: 1.875rem;
        background-image: url('../imgs/pinterest-head.png');
        background-repeat: no-repeat;
    }
    .fb-head {
        margin-right: 0.4rem;
        display: inline-block;
        width: 1.875rem;
        height: 1.875rem;
        background-image: url('../imgs/facebook-head.png');
        background-repeat: no-repeat;
    }
    .goog-head {
        display: inline-block;
        width: 1.875rem;
        height: 1.875rem;
        background-image: url('../imgs/google-head.png');
        background-repeat: no-repeat;
    }
}


.header-phone {
    float: right;
    a {
        color: $primaryGrey;
        font-size: rem-calc(20px);
    }
}

.sticky {
    @include breakpoint (small) {
        margin-top: 0 !important;
    }
}

//Slider
.img-slider {
    text-align: center;
    height: 44.25rem;
    background-color: #FEFAFE;
    margin-top: 2.375rem;
    margin-bottom: 0.9375rem;

    .slide {
        position: relative;
        .img-text {
            top: 50%;
            position: absolute;;
            transform: translateY(-50%);
            width: 100%;
            z-index: 2;
            padding-left: 2rem;
            padding-right: 2rem;
            h1 {
                color: $white;
            }
            p {
                color: $sliderYellow;
                font-size: 1.75rem;
            }
            @include breakpoint(medium) {
                padding-left: 6rem;
                padding-right: 6rem;
            }
        }
        .img-text::after {
            display: block;
            height: 0.8125rem;
            width: 8.625rem;
            background-image: url('../imgs/slider-lines.png');
            content: " ";
            margin: 0 auto;
        }
    }

    .img {
        height: 100%;
        width: 100%;
        outline: 4px solid $primaryPink;
        outline-offset: - map-get($grid-column-gutter, medium);
    }

    .slick-prev, .slick-next {
        top: 50%;
        transform: translateY(-50%);
        width: rem-calc(25px);
        height: rem-calc(50px);
        z-index: 1;
        display: none !important;
        @include breakpoint(medium) {
            display: block !important;
        }
    }
    .slick-prev {
        left: 4.5rem;
    }
    .slick-next {
        right: 4.5rem;
    }
    .slick-prev:before, .slick-next:before {
        color: $secondaryDarkGrey;
        width: rem-calc(25px);
        height: rem-calc(50px);
    }
    .slick-prev:before{
        content: url("../imgs/prev-arrow.png");
    }
    .slick-next:before{
        content: url("../imgs/next-arrow.png");
    }
}

//Footer
.share-transform-container {
    border-top: 1px solid $primaryPink;
    border-left: 1px solid $primaryPink;
    border-right: 1px solid $primaryPink;
    padding: rem-calc(40px) 0;
    .share-transform-content {
        text-align: center;
        margin-top: 2.5rem;
    }
    h1 {
        margin-bottom: rem-calc(20px);
        &::after {
            content: "";
            background-image: url('../imgs/footer-lines.png');
            width: rem-calc(68px);
            height: rem-calc(8px);
            display: block;
            margin: 0 auto;
        }
    }
}

.sharethis {
    text-align: center;
    .st_instagram_custom, .st_pinterest_custom, .st_facebook_custom, .st_googleplus_custom {
        margin-right: 0.7rem;
        display: inline-block;
        width:2.375rem;
        height:2.375rem;
        background-repeat: no-repeat;
        cursor: pointer;
    }
    .st_instagram_custom {
        background-image: url('../imgs/instagram-foot.png');
    }
    .st_pinterest_custom {
        margin-right: 0.7rem;
        display: inline-block;
        width:2.375rem;
        height:2.375rem;
        background-image: url('../imgs/pinterest-foot.png');
        background-repeat: no-repeat;
    }
    .st_facebook_custom {
        background-image: url('../imgs/facebook-foot.png');
    }
    .st_googleplus_custom {
        background-image: url('../imgs/google-foot.png');
    }
}

.transform {
    border-left: 2px solid $secondaryLightGrey;
}

.transform-button {
    background-color: $anchorColor;
    border: 2px solid $white;
    box-shadow: 0 0 0 2px $anchorColor;
    height: 2.375rem;
    width: 5.625rem;
    color: $white;
    &:hover {
        background-color: $dark-gray;
    }
}
.footer {
    text-align: center;
    font-size: rem-calc(12px);
    color: $secondaryLightGrey;
    margin-bottom: map_get($grid-column-gutter, small);
    @include breakpoint(large) {
        margin-bottom: rem-calc(80px);
    }
}
.footer-info {
    border: 1px solid $primaryPink;
    padding: rem-calc(30px) 0;
    p {
        margin-bottom: 0;
    }
}

//breakpoints
@include breakpoint(small only) {
    .img-slider {
        height: 20rem;
    }
    .img-slider .slide .img-text h1 {
        font-size: 1.125rem;
    }
    .img-slider .slide .img-text p {
        display: none;
    }
    .share-transform-container .share-transform-content {
            margin-top: 0.5rem;
    }
    .share {
        margin-bottom: 1rem;
        h1 {
            font-size: 1.25rem;
        }
    }
    .transform {
        h1 {
            font-size: 1.25rem;
        }
    }
    #gform_2 .gform_body .gform_page_footer .gform_previous_button {
        margin-right: 1rem;
    }
}

@include breakpoint(medium only) {
    .img-slider {
        height: 30rem;
    }
    .img-slider .slide .img-text h1 {
        font-size: 1.5rem;
    }
    .img-slider .slide .img-text p {
        font-size: 1.25rem;
    }
    .footer-info {
        margin-top: .25rem;
    }
    .share-transform-container .share-transform-content {
            margin-top: 0.5rem;
    }
    .share {
        h1 {
            font-size: 1.25rem;
        }
    }
    .transform {
        h1 {
            font-size: 1.25rem;
        }
    }
}
