@import "settings";

.content {
    margin-top: 2.375rem;
    margin-bottom: map-get($grid-column-gutter, medium);
}

//Header
.menu-desktop-container {
    text-align: center;
    border-top: 2px solid $primaryPink;
    border-bottom: 2px solid $primaryPink;
    .menu {
        display: inline-block;
        text-transform: uppercase;
        li:hover {
            color: $secondaryLightGrey;
            text-decoration: underline;
        }
    }
}


.header-container {
    width: 100%;
    margin-bottom: 1.188rem;
}

.header-icons {
    width: 50%;
    text-align: left;
    display: inline-block;
    .ig-head {
        margin-right: 0.4rem;
        display: inline-block;
        width: 1.875rem;
        height: 1.875rem;
        background-image: url('../imgs/instagram-head.png');
        background-repeat: no-repeat;
    }
    .pin-head {
        margin-right: 0.4rem;
        display: inline-block;
        width: 1.875rem;
        height: 1.875rem;
        background-image: url('../imgs/pinterest-head.png');
        background-repeat: no-repeat;
    }
    .fb-head {
        margin-right: 0.4rem;
        display: inline-block;
        width: 1.875rem;
        height: 1.875rem;
        background-image: url('../imgs/facebook-head.png');
        background-repeat: no-repeat;
    }
    .goog-head {
        display: inline-block;
        width: 1.875rem;
        height: 1.875rem;
        background-image: url('../imgs/google-head.png');
        background-repeat: no-repeat;
    }
}


.header-phone {
    width: 50%;
    text-align: right;
    display: inline-block;
    float: right;
    color: $primaryGrey;
    font-size: 1rem;
}

//Nav
.nav {
    text-align: center;
    width: 100%;

    .nav-link {
        &:hover{
            color: $secondaryLightGrey;
            text-decoration: underline;
        }
    }

    .col-left, .col-mid, .col-right {
        display: inline-block;
    }

    .col-left, .col-right {
        border-top: 1px solid $primaryPink;
        border-bottom: 1px solid $primaryPink;
        padding-top: 1.063rem;
        padding-bottom: 0.625rem;
        word-spacing: 4.875rem;
        width: 35%;
    }

    .col-mid {
        width: 23%;
    }
}



//Slider
.img-slider {
    text-align: center;
    height: 44.25rem;
    background-color: #FEFAFE;
    margin-top: 2.375rem;
    margin-bottom: 0.9375rem;

    .slide {
        position: relative;
        .img-text {
            top: 50%;
            position: absolute;;
            transform: translateY(-50%);
            width: 100%;
            z-index: 2;
            padding-left: 6rem;
            padding-right: 6rem;
            h1 {
                color: $white;
            }
            p {
                color: $sliderYellow;
                font-size: 1.75rem;
            }
        }
        .img-text::after {
            display: inline-block;
            height: 0.8125rem;
            width: 8.625rem;
            background-image: url('../imgs/slider-lines.png');
            content: " ";
        }
    }

    .img {
        height: 100%;
        width: 100%;
        outline: 4px solid $primaryPink;
        outline-offset: - map-get($grid-column-gutter, medium);
    }

    .slick-prev:before, .slick-next:before {
        color: $secondaryDarkGrey;
    }

    .slick-prev:before{
        content: url("../imgs/prev-arrow.png");
    }
    .slick-prev {
        left: 4.5rem;
        top: 45%;
        z-index: 1;
    }
    .slick-next:before{
        content: url("../imgs/next-arrow.png");
    }
    .slick-next {
        right: 4.5rem;
        top: 45%;
        z-index: 1;
    }
}

//Footer
.share-transform-container {
    border-top: 1px solid $primaryPink;
    border-left: 1px solid $primaryPink;
    border-right: 1px solid $primaryPink;
    height: 18.44rem;
    width: 100%;
    .share-transform-content {
        text-align: center;
        margin-top: 2.5rem;
        height: 100%;
    }
}

.share {
    text-align: center;
    .ig-share {
        margin-right: 0.7rem;
        display: inline-block;
        width:2.375rem;
        height:2.375rem;
        background-image: url('../imgs/instagram-foot.png');
        background-repeat: no-repeat;
    }
    .pin-share {
        margin-right: 0.7rem;
        display: inline-block;
        width:2.375rem;
        height:2.375rem;
        background-image: url('../imgs/pinterest-foot.png');
        background-repeat: no-repeat;
    }
    .fb-share {
        margin-right: 0.7rem;
        display: inline-block;
        width:2.375rem;
        height:2.375rem;
        background-image: url('../imgs/facebook-foot.png');
        background-repeat: no-repeat;
    }
    .goog-share {
        display: inline-block;
        width:2.375rem;
        height: 2.375rem;
        background-image: url('../imgs/google-foot.png');
        background-repeat: no-repeat;
    }
}

.transform {
    border-left: 2px solid $secondaryLightGrey;
}

.transform-button {
    background-color: $anchorColor;
    border: 2px solid $white;
    box-shadow: 0 0 0 2px $anchorColor;
    height: 2.375rem;
    width: 5.625rem;
    color: $white;
}

.footer-container {
    display: table;
    width: 100%;
    height: 5.188rem;
}

.footer {
    display: table-cell;
    border: 1px solid $primaryPink;
    text-align: center;
    vertical-align: middle;
    font-size: 0.5625rem;
    color: $secondaryLightGrey;

    p {
        line-height: 1rem;
        margin-bottom: 0.5rem;
    }
}

//breakpoints
@include breakpoint(small only) {
    .img-slider {
        height: 20rem;
    }
    .img-slider .slide .img-text h1 {
        font-size: 1.125rem;
    }
    .img-slider .slide .img-text p {
        font-size: 0.9rem;
    }
    .share-transform-container .share-transform-content {
            margin-top: 0.5rem;
    }
    .share {
        h1 {
            font-size: 1.25rem;
        }
    }
    .transform {
        border-left: 0;
        h1 {
            font-size: 1.25rem;
        }
    }
    .transform-button {
        background-color: $anchorColor;
        border: 2px solid $white;
        box-shadow: 0 0 0 2px $anchorColor;
        height: 1.75rem;
        width: 5rem;
        color: $white;
        margin-top: -0.5rem;
        font-size: .9rem;
    }
}

@include breakpoint(medium only) {
    .img-slider {
        height: 30rem;
    }
    .img-slider .slide .img-text h1 {
        font-size: 1.5rem;
    }
    .img-slider .slide .img-text p {
        font-size: 1.25rem;
    }
    .footer-info {
        margin-top: .25rem;
    }
    .share-transform-container .share-transform-content {
            margin-top: 0.5rem;
    }
    .share {
        h1 {
            font-size: 1.25rem;
        }
    }
    .transform {
        border-left: 0;
        h1 {
            font-size: 1.25rem;
        }
    }
    .transform-button {
        background-color: $anchorColor;
        border: 2px solid $white;
        box-shadow: 0 0 0 2px $anchorColor;
        height: 1.75rem;
        width: 5rem;
        color: $white;
        margin-top: -0.5rem;
        font-size: .9rem;
    }
}

.homepage {
    background-image: url('../imgs/logo.png');
}
