@import "settings";

.left-column {
    padding-top: 3.875rem;
    background-color: $left-column-yellow;
    outline: 4px solid $white;
    outline-offset: -0.6875rem;
    overflow: scroll;
    text-align: center;
    position: relative;
    padding-left: 3.125rem;
    padding-right: 1.875rem;
    p {
        text-align: left;
        line-height: 1.15rem;
        margin-bottom: 2.938rem;
        margin-top: 2.25rem;
    }
    h1::after {
        display: block;
        margin: 0 auto;
        height: 0.5rem;
        width: 3.5rem;
        content: " ";
        background-image: url('../imgs/about-lines.png');
        background-repeat: no-repeat;
    }
    h2::after {
        display: block;
        margin: 0 auto;
        height: 0.5rem;
        width: 3.5rem;
        content: " ";
        background-image: url('../imgs/about-lines.png');
        background-repeat: no-repeat;
    }
    h3 {
        text-align: left;
    }
    h3::after {
        display: block;
        position: absolute;
        left: 14%;
        height: 0.5rem;
        width: 3.5rem;
        content: " ";
        background-image: url('../imgs/about-lines.png');
        background-repeat: no-repeat;
    }
    h4 {
        color: $primaryGrey;
    }
    h3 + h4 {
        margin-top: 2.25rem;
    }
    h3 ~ h4 {
        text-align: left;
    }
}

@include breakpoint(small only) {
    .left-column h3::after {
        display: block;
        position: absolute;
        left: 10%;
    }
}

@include breakpoint(medium only) {
    .left-column h3::after {
        display: block;
        position: absolute;
        left: 7%;
    }
}
