@import "settings";

.left-column {
    padding-top: 3.875rem;
    background-color: $left-column-yellow;
    outline: 4px solid $white;
    outline-offset: -0.6875rem;
    overflow: scroll;
    text-align: center;
    p {
        text-align: left;
        line-height: 1.15rem;
        margin-top: 1rem;
        margin-left: 2rem;
        margin-right: 1rem;
    }
    h1::after {
        display: block;
        height: 0.3125rem;
        width: 3.125rem;
        content: " ";
        background-image: url('../imgs/about-lines.png');
    }
    h2::after {
        display: block;
        height: 0.3125rem;
        width: 3.125rem;
        content: " ";
        background-image: url('../imgs/about-lines.png');
    }
    h3 {
        text-align: left;
        margin-left: 2rem;
    }
    h3::after {
        display: block;
        height: 0.3125rem;
        width: 3.125rem;
        content: " ";
        background-image: url('../imgs/about-lines.png');
    }
    h4 {
        margin-bottom: 0;
        color: $primaryGrey;
    }
}
