.portfolio-teasers {
  .teaser {
    position: relative;
    text-align: center;
    display: block;
    margin-bottom: map_get($grid-column-gutter, small);

    &::after {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      width: 100%;
      background-color: rgba(255,255,255,0.6);
      display: none;
    }
    &:hover{
      &::after, .content, .border {
        display: block;
      }
    }
    img {
      width: 100%;
    }
    h3, h2 {
      line-height: 1;
    }
    h3 {
      color: $primaryGrey;
      font-size: rem-calc(16px);
      margin-bottom: rem-calc(10px);
      text-transform: uppercase;
    }
    h2 {
      font-size: rem-calc(30px);
      &:after {
        content: "";
        display: block;
        width: rem-calc(51px);
        height: rem-calc(6px);
        margin: rem-calc(16px) auto 0;
        background-image: url("../imgs/contact-lines.png");
      }
    }
    .content {
      margin: 0;
      position: absolute;
      z-index: 2;
      top: 50%;
      transform: translateY(-50%);
      width: 100%;
      padding: 1rem;
      display: none;
    }
    .border {
      position: absolute;
      z-index: 1;
      top: rem-calc(6px);
      right: rem-calc(6px);
      bottom: rem-calc(6px);
      left: rem-calc(6px);
      border: 2px solid $header-color;
      display: none;
    }
    @include breakpoint(medium) {
      margin-bottom: map_get($grid-column-gutter, medium);
    }
  }
  .small-teasers {
    @include breakpoint(small only) {
        .teaser::after, .content, .border {
            display: block;
        }
    }
    @include breakpoint(medium) {
      display:none;
    }
  }
  .medium-teasers {
    display: none;
    @include breakpoint(medium) {
      display:block;
    }
    @include breakpoint(large) {
      display: none;
    }
  }
  .large-teasers {
    display: none;
    @include breakpoint(large) {
      display: block;
    }
  }
}
