@import "settings";

.post-container {
    margin-top: 2.375rem;
    margin-bottom: 0.9375rem;
    .post-content {
        text-align: center;
        padding-left: 0;
        .post {
            background-color: $left-column-yellow;
            outline: 4px solid $white;
            outline-offset: -0.6875rem;
            overflow: scroll;
            .post-text {
                margin-top: 1.75rem;
                h4 {
                    color: $primaryGrey;
                }
                p {
                    text-align: left;
                    line-height: 1.15rem;
                    margin-top: 1rem;
                    margin-left: 2rem;
                    margin-right: 1rem;
                }
            }
            .challenge-text {
                p {
                    text-align: left;
                    line-height: 1.15rem;
                    margin-top: 1rem;
                    margin-left: 2rem;
                    margin-right: 1rem;
                }
            }
            .results-text {
                p {
                    text-align: left;
                    line-height: 1.15rem;
                    margin-top: 1rem;
                    margin-left: 2rem;
                    margin-right: 1rem;
                }
            }
            .buttons {
                padding-bottom: 1rem;
                h6 a {
                    font-style: italic;
                    color: $bodyFontColor;
                    &:hover {
                        color: $secondaryLightGrey;
                    }
                }
            }
        }
    }
    .images {
        padding-right: 0px;
        .fade {
            opacity: 1;
            transition: opacity .25s ease-in-out;
            -moz-transition: opacity .25s ease-in-out;
            -webkit-transition: opacity .25s ease-in-out;
            }
            .fade:hover {
               opacity: 0.5;
               }
        .top {
            margin-bottom: map-get($grid-column-gutter, medium);
        }
        .middle {
            margin-bottom:  map-get($grid-column-gutter, medium);
            .middle-left {
                padding-left: 0px;
            }
            .middle-right {
                padding-right: 0px;
                .middle-right-top {
                    margin-bottom:  map-get($grid-column-gutter, medium);
                }
            }
        }
        .bottom {
            .bottom-left {
                padding-left: 0px;
            }
            .bottom-right {
                padding-right: 0px;
            }
        }
    }
}
