@import "settings";

.right-column {
    // padding-right: 0;
    .landscape-top {
        margin-bottom: map-get($grid-column-gutter, medium);
    }
    .mixed {
        .mixed-top {
            margin-bottom: map-get($grid-column-gutter, medium);
        }
        .mixed-middle {
            margin-bottom: map-get($grid-column-gutter, medium);
            .mixed-middle-top {
                margin-bottom: map-get($grid-column-gutter, medium);
            }
        }
    }
    .fade {
        opacity: 1;
        transition: opacity .25s ease-in-out;
        -moz-transition: opacity .25s ease-in-out;
        -webkit-transition: opacity .25s ease-in-out;
        }
        .fade:hover {
           opacity: 0.5;
           }
}

@include breakpoint(small only) {
    .right-column {
        text-align: center;
        padding-left: 0;
        margin-top: map-get($grid-column-gutter, medium);
        .landscape-top {
            margin-bottom: 0;
        }
        .mixed {
            .mixed-top {
                margin-bottom: 0;
            }
            .mixed-middle {
                margin-bottom: 0;
                .mixed-middle-top {
                    margin-bottom: 0;
                }
            }
        }
    }
}

@include breakpoint(medium only) {
    .right-column {
        text-align: center;
        padding-left: 0;
        margin-top: map-get($grid-column-gutter, medium);
    }
}
