@import "settings";

.right-column {
    margin-bottom: map-get($grid-column-gutter, medium);
    .landscape-top {
        margin-bottom: map-get($grid-column-gutter, medium);
    }
    .landscape-bottom {
        > div:first-of-type img {
            margin-bottom: map-get($grid-column-gutter, medium);
            @include breakpoint(medium) {
                margin-bottom: 0;
            }
        }
    }
    .mixed {
        .mixed-top {
            margin-bottom: map-get($grid-column-gutter, medium);
        }
        .mixed-middle {
            margin-bottom: map-get($grid-column-gutter, medium);
            .mixed-middle-top {
                margin-bottom: map-get($grid-column-gutter, medium);
            }
        }
    }
    .fade {
        opacity: 1;
        transition: opacity .25s ease-in-out;
        -moz-transition: opacity .25s ease-in-out;
        -webkit-transition: opacity .25s ease-in-out;
    }
    .fade:hover {
        opacity: 0.5;
    }
}

