@import "settings";

.services-container {
    margin-top: 2.375rem;
    margin-bottom: 0.9375rem;
    .services-content {
        text-align: center;
        .services {
            background-color: $left-column-yellow;
            outline: 4px solid $white;
            outline-offset: -0.6875rem;
            .services-text {
                margin-top: 3.875rem;
                p {
                    text-align: left;
                    line-height: 1.15rem;
                    margin-top: 1rem;
                    margin-left: 2rem;
                    margin-right: 1rem;
                }
            }
        }
    }
    .services-images {
        background-color: #BFEFFF;
    }
}
