@import "settings";

.services-container {
    margin-top: 2.375rem;
    margin-bottom: 0.9375rem;
    .services-content {
        text-align: center;
        .services {
            background-color: $left-column-yellow;
            outline: 4px solid $white;
            outline-offset: -0.6875rem;
            overflow: scroll;
            .services-text {
                margin-top: 1.75rem;
                h4 {
                    color: $primaryGrey;
                }
                p {
                    text-align: left;
                    line-height: 1.15rem;
                    margin-top: 1rem;
                    margin-left: 2rem;
                    margin-right: 1rem;
                }
            }
            .why-text {
                h3 {
                    text-align: left;
                    margin-left: 2rem;
                }
                .why-lines {
                    margin-left: 2.5rem;
                    float: left;
                }
                .services-links {
                    text-align: left;
                    margin-top: 1.5rem;
                    margin-left: 2rem;
                    .function-text, .access-text, .commit-text, .collab-text {
                        display: none;
                    }
                    h4 {
                        color: $bodyFontColor;
                        line-height: 1rem;
                        &:hover {
                            color: $secondaryLightGrey;
                        }
                    }
                }
            }
        }
    }
    .services-images {
        padding-left: 1.75rem;
        .fade {
            opacity: 1;
            transition: opacity .25s ease-in-out;
            -moz-transition: opacity .25s ease-in-out;
            -webkit-transition: opacity .25s ease-in-out;
            }
            .fade:hover {
               opacity: 0.5;
               }
        .top {
            background-color: #BFEFFF;
            margin-bottom: 0.75rem;
        }
        .bottom {
            .left-image {
                background-color: #ffe6e6;
            }
            .right-image {
                background-color: #FEFFD4;
            }
        }
    }
}
