$fa-font-path: "../libs/font-awesome/fonts";
@import "font-awesome";
@import "settings";
@import "foundation";
@include foundation-everything();
@import "left-column";
@import "right-column";
@import "home";
@import "about";
@import "services";
@import "portfolio-post";
@import "fancybox";


@import "classes";

h4 {
    font-family: Lato;
    text-transform: uppercase;
}
